<div class="container" fxLayout="column" fxLayoutAlign="center center">
    <div>
        <video class="player" #videoElement></video>
    </div>
    <div>
        <button mat-button class="action" (click)="play()" [disabled]="playing ? true : false">
            <mat-icon [ngClass]="playing ? 'action-icon-active': ''">play_arrow</mat-icon>
            <p class="action-label">Play</p>
        </button>
        <button mat-button class="action" (click)="pause()" [disabled]="playing ? false : true">
            <mat-icon [ngClass]="playing ? '' : 'action-icon-active'">pause</mat-icon>
            <p class="action-label">Pause</p>
        </button>
        <button mat-button class="action" (click)="controls()">
            <mat-icon [ngClass]="displayControls ? 'action-icon-active': ' '">control_camera
            </mat-icon>
            <p class="action-label">Controls</p>
        </button>
    </div>
</div>