.container {
	height: 100%;
	width: 100%;
	/* background-image: url("../../../assets/login-background.jpg");
	background-size: cover;
	background-repeat: none; */
	color: white;
	background-color: #FF2D2D30;
}

.reset-button {
	font-size: xx-small;
	height: 80%;
	width: 90%;
}