<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <div class="card-container" fxLayout="column" fxLayoutAlign="center center">
    <mat-card fxLayout="column" [style.visibility]="visible ? 'visible': 'hidden'">
      <form [formGroup]="formGrp" fxLayout="column">
        <mat-form-field  appearance="outline">
          <mat-icon matSuffix>email</mat-icon>
          <mat-label>User email</mat-label>
          <input matInput type="email" [formControl]="usernameCtrl">
        </mat-form-field>
        <mat-form-field  appearance="outline">
          <mat-icon matSuffix>lock</mat-icon>
          <mat-label>Password</mat-label>
          <input matInput type="password" [formControl]="passwdCtrl">
        </mat-form-field>

        <button mat-raised-button class="submit-button" type="submit" color="primary"> Submit </button>
      </form>

      <div fxLayout="column" fxLayoutAlign="center center">
        <button mat-button class="reset-button" (click)="onResetPassword()"> Change password </button>
      </div>
    </mat-card>
  </div>
</div>