<mat-vertical-stepper class="reset-stepper" linear="true" #stepper>
    <ng-template matStepperIcon="edit">
        <mat-icon>done</mat-icon>
    </ng-template>

    <!-- Check valid/existing login step-->
    <mat-step [stepControl]="userLoginFormGroup" label="user login">
        <form [formGroup]="userLoginFormGroup" (ngSubmit)="onSubmitLogin()">
            <ng-template matStepLabel>Verify Login</ng-template>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email">
                <mat-hint>User email address</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password">
                <mat-hint>User password</mat-hint>
            </mat-form-field>
            <div *ngIf="userLoginFormGroup.invalid">
                <mat-error *ngIf="isStepInvalid(userLoginFormGroup)">{{getStepErrors(userLoginFormGroup)}}</mat-error>
            </div>
            <div>
                <button mat-raised-button [disabled]="!userLoginFormGroup.valid" type="submit">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <p style="margin: 0">Next</p>
                        <div *ngIf="loading" fxLayout="row" fxLayoutAlign="center center">
                            &nbsp;
                            <mat-spinner class="button-loader"></mat-spinner>
                        </div>
                    </div>
                </button>
            </div>
        </form>
    </mat-step>

    <!-- Set new password step-->
    <mat-step [stepControl]="passwordFormGroup">
        <form [formGroup]="passwordFormGroup" (ngSubmit)="stepper.next()">
            <ng-template matStepLabel>Change Password</ng-template>
            <mat-form-field>
                <mat-label>New password</mat-label>
                <input matInput type="password" formControlName="password1">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Confirm password</mat-label>
                <input matInput type="password" formControlName="password2">
                <mat-error *ngIf="isStepInvalid(passwordFormGroup.get('password2'))">{{getStepErrors(passwordFormGroup.get('password2'))}}</mat-error>

            </mat-form-field>
            <div *ngIf="passwordFormGroup.invalid">
                <mat-error *ngIf="isStepInvalid(passwordFormGroup)">{{getStepErrors(passwordFormGroup)}}</mat-error>
            </div>
            <div>
                <button mat-raised-button matStepperPrevious>Back</button>
                <button mat-raised-button type="submit" [disabled]="!passwordFormGroup.valid">Next</button>
            </div>
        </form>
    </mat-step>

    <!-- Send new password order step-->
    <mat-step>
        <ng-template matStepLabel>Confirm Modification</ng-template>
        <div>
            <button mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button (click)="onConfirmChange()">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <p style="margin: 0">Confirm</p>
                    <div *ngIf="loading" fxLayout="row" fxLayoutAlign="center center">
                        &nbsp;
                        <mat-spinner class="button-loader"></mat-spinner>
                    </div>
                </div>
            </button>
        </div>
    </mat-step>
</mat-vertical-stepper>