<mat-card class="container">
  <mat-card-title fxLayout="row" fxLayoutAlign="start center">
    <mat-icon style="fill: rgb(103, 58, 183);">lock</mat-icon>
    <span style="color: rgb(103, 58, 183);">&nbsp;Password Strength</span>
  </mat-card-title>

  <form [formGroup]="passwordFormGroup" fxLayout="column">
    <mat-form-field appearance="outline" [matBadge]="badge" matBadgePosition="after" [matBadgeColor]="barColor">
      <mat-label>Password</mat-label>
      <input matInput [type]="type" formControlName="password" (focus)="focus(true)" (focusout)="focus(false)">
      <button mat-icon-button matSuffix (click)="onChangeVisibility()"><mat-icon>{{visibility}}</mat-icon></button>

      <mat-progress-bar [color]="barColor" [mode]="mode" [value]="value" [bufferValue]="value">
      </mat-progress-bar>

      <mat-error *ngIf="passwordFormGroup.get('password').hasError('required')">Password required</mat-error>
      <mat-error *ngIf="passwordFormGroup.get('password').hasError('minlength')">Password too short</mat-error>
      <mat-error *ngIf="passwordFormGroup.get('password').hasError('weak') && passwordFormGroup.get('password').value">Password too weak</mat-error>
    
    </mat-form-field>
  </form>
</mat-card>